body{
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
    color: navy;
}
h2{
    font-size: 40px;
    color: navy;
}
h3{
    font-size: 30px;
    color:white;
    font-weight: 700;
}
h4{
    font-size: 20px;
    color: navy;
}
p{
    color: dimgray;
}
.tomato-highlight{
    color: tomato;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    line-height: 20px;
}
.half-width1{
    width: 25%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width2{
    width: 20%;
    float: left;
    margin-left: 20%;
    padding-left: 2%;
    
   
}
.half-width img{
    width: 70%;
}
section{
    height: 500px;
    padding-bottom: 100px;
    
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
   
}

.button {
    background-image: cyan;
    border-radius: 6px;
    display: inline-block;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
  }
  .button1{
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    border-radius: 10px;
    display: inline-block;
    padding: 20px 30px;
    text-align: left;
    text-decoration: none;
    color: white;
    font-weight: 700;
  }

.single-project{
    
    border-radius: 10px;
    height: 60%;
    background-color: white;
}
.projects{
    background-image:cyan;
    background-repeat: no-repeat;
    background-position: left;
    background-size:100%;  
    
}
.inquiry{
    background-image: url("images/Group_33094_1.png"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size:60%;
    height: 70%;
    width: 100%;
    display: block;
    
} 
.website-link{
    border-left: 7px solid;
    border-image:linear-gradient(180deg, lightsalmon, tomato);
    
}
   
   
footer{
    text-align: center;
    
}

  
  .button figure {
    margin-left: 5%;
  }
  
  .button figure img {
    width: 100%;
  }
  
  .text {
    font-weight: 700;
    text-transform: uppercase;
    color: #1d368a;
    font-size: 20px;
    text-decoration: none;
  }